.profile {
  text-align: center;
  color: rgb(124, 79, 166);
}

.profile_card {
  margin: auto;
  width: 200px;
  height: 200px;
  border: 3px solid gray;
  background-color: brown;
  border-radius: 100%;
}

.profile_image {
  width: 100%;
  border-radius: 100%;
}
